@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-dark: #7A2E3A;
}

html, body, #root { height: 100%; }

body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  color: var(--text-dark);
}
